@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

    /* SCROLL FOR FIREFOX*/
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

body,
html {
    height: 100%;
    background-color: rgb(192, 180, 180);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    outline: 10px solid rgb(105, 105, 105);
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.screen {
    flex: auto;
    max-height: 25%;
    background-color: rgb(145, 167, 113);
    border: 5px solid rgb(167, 190, 132);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
}

.input,
.output {
    flex: 1;
    max-height: 50%;
}

.output {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
}

.screen p {
    display: flex;
    font-size: 3.5em;
    overflow-x: auto;
    overflow-y: hidden;
}

.screen p::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* width of the entire scrollbar */
}

.screen p::-webkit-scrollbar-track {
    background: green;
    /* color of the tracking area */
}

.screen p::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rebeccapurple;
    /* creates padding around scroll thumb */
}

.buttons {
    flex: auto;
    background-color: black;
    display: flex;
    gap: 10px;
    line-gap-override: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 75%;
    padding: 10px;
}

button {
    flex: auto;
    background-color: gainsboro;
    width: 92px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    border: 1px white solid;
}

button.big {
    width: 211px;
}

/* COLORS */

.operator {
    background-color: #F1B620;
}

.operator:active,
.operator:hover,
.keyoperator {
    background-color: #f1b620c4;
}

.delete {
    background-color: #952B60;
}

.delete:active,
.delete:hover,
.keydelete {
    background-color: #952b60bb;
}

.misc {
    background-color: #626520;
}

.misc:active,
.misc:hover,
.keymisc {
    background-color: #626520c2;
}

.keymisc,
.keynumber,
.keyoperator,
.keydelete,
.misc:active,
.number:active,
.operator:active,
.delete:active {
    border-style: none;
}

.number {
    background-color: #3D91E0;
}

.number:hover,
.number:active,
.keynumber {
    background-color: #3d91e0c9;
}